version: "3.8"
services:
  sut:
    build: 
      context: ./tests
      dockerfile: Dockerfile.sut
    command: -d
    depends_on:
       - silverstripe
       - database
    environment:
       - IMAGE_TAG=${IMAGE_TAG:-8.3-apache-bookworm}
       - MOUNT_DIR=${MOUNT_DIR:-/var/www/html}
    volumes:
       - codebase:/src

  silverstripe:
    build: 
      context: ${BUILD_DIR:-src/8.3/apache/bookworm}
      dockerfile: Dockerfile
    image: ${IMAGE:-brettt89/silverstripe-web:8.3-apache-bookworm}
    platform: ${PLATFORM:-linux/amd64}
    volumes:
       - codebase:${MOUNT_DIR:-/var/www/html}
    depends_on:
       - database
    environment:
       - SS_TRUSTED_PROXY_IPS=*
       - SS_ENVIRONMENT_TYPE=dev
       - SS_DATABASE_SERVER=database
       - SS_DATABASE_NAME=SS_mysite
       - SS_DATABASE_USERNAME=root
       - SS_DATABASE_PASSWORD=
       - SS_DEFAULT_ADMIN_USERNAME=admin
       - SS_DEFAULT_ADMIN_PASSWORD=password

  composer:
    image: composer
    volumes:
       - codebase:/app
       - ${COMPOSER_HOME:-~/.composer}:/tmp

  database:
    image: mysql:8.1
    environment:
       - MYSQL_ALLOW_EMPTY_PASSWORD=yes
    volumes:
       - db-data:/var/lib/mysql
volumes:
     db-data:
     codebase: